<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .active {
            background-color: rgb(21, 100, 105);
        }
    </style>
</head>

<body>
    <h1>StudyApp!</h1>

    <br>
    <br>
    <br>
    <br>
    <!-- Retrive using get -->
    <!-- <textarea name="textdemo" id="textdemo" cols="30" rows="10"></textarea> -->
    <button id="openDecks" type="button">View Decks</button>
    <button id="deletedeck" type="button">Delete</button>
    <button id="addnewdeck" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newDeckModal">Create</button>
    <button id="editdeck" type="button">Edit</button>

    <table class="table table-hover" id="deckstable">
        <thead>
            <tr>
                <th>#</th>
                <th>Deck</th>
                <th>Total Cards</th>
            </tr>
        </thead>
        <tbody id="deck_rows">
            <!-- <tr class="table-row">
                <th scope="row">1</th>
                <th class="d_name">Deck name</th>
                <th>0</th>
            </tr>
            <tr class="table-row">
                <th scope="row">2</th>
                <th>Deck name</th>
                <th>0</th>
            </tr>
            <tr class="table-row">
                <th scope="row">3</th>
                <th>Deck name</th>
                <th>0</th>
            </tr> -->
        </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>

    <button id="deletecard" type="button">Delete card</button>
    <!-- Button trigger modal -->
    <button id="addnewcard" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCardModal">
        add new card
    </button>

    <table class="table table-hover" id="cardstable">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody id="card_rows">
            <!-- <tr class="table-row">
                <th scope="row">1</th>
                <th>image</th>
                <th>???</th>
                <th>answer!!!</th>
            </tr>
            <tr class="table-row">
                <th scope="row">2</th>
                <th>image</th>
                <th>???</th>
                <th>answer!!!</th>
            </tr>
            <tr class="table-row">
                <th scope="row">3</th>
                <th>image</th>
                <th>???</th>
                <th>answer!!!</th>
            </tr> -->
        </tbody>
    </table>


  <!-- Modal for new deck -->
  <div class="modal fade" id="newDeckModal" tabindex="-1" aria-labelledby="newDeckModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newDeckModalLabel">Create a new deck</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- <h1>Upload Image</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" accept="image/*" name="photo" >
            <input type="submit" value="upload">
        </form> -->
        <div class="modal-body">
            <form id="newdeck" action="/newdeck" method="POST">  
                Deck Name: <input type="text" name="d_name">  <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="modal-footer">
          <button id="closemodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for new card-->
  <div class="modal fade" id="newCardModal" tabindex="-1" aria-labelledby="newCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newCardModalLabel">Add cards to a deck</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- <h1>Upload Image</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" accept="image/*" name="photo" >
            <input type="submit" value="upload">
        </form> -->

        <div class="modal-body">
            <form id="newcard" action="/newcard" method="POST">
                img_path: <input type="text" name="img_path">  <br>
                question: <input type="text" name="question">  <br>
                answer: <input type="text" name="answer">  <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="modal-footer">
          <button id="closemodal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</body>

<script>
    // global variables
    var selectedDeckId;
    var selectedCardId;
    var d_name;
    var c_question;

    // test json
    // https://raw.githubusercontent.com/wilsonestelle85/wilsonestelle85.github.io/main/pets1.json

    // buttons & user actions

    // loads the decks table
    $("#openDecks").click(function() {
        loadDeckTable();
    });

    // deletes the selected deck
    $("#deletedeck").click(function() {
        deleteDeck(selectedDeckId);
        removeDeckRow();
    });

    // loads the cards table
    $("#editdeck").click(function() {
        loadCardTable();
    });

    // deletes the selected deck
    $("#deletecard").click(function() {
        deleteCard(selectedDeckId, selectedCardId);
        removeCardRow();
    });

    // highlight active row on decks table
    $('#deckstable').on('click', '.table-row', function(event) {
        $(this).addClass('active').siblings().removeClass('active');
    });

    // highlight active row on cards table
    $('#cardstable').on('click', '.table-row', function(event) {
        $(this).addClass('active').siblings().removeClass('active');
    });

    // action just before new card is submitted or submit button is clicked
    $('#newcard').submit(function() {  
        // close modal (it has to be done after submit cuz it will remove the did value too !!!)
        // $("#closemodal").click();

        return true; // return false to cancel form action
    });

    // submit button of 
    $('#newdeck').submit(function(e) {
        e.preventDefault(); // don't submit multiple times
        this.submit(); // use the native submit method of the form element
        loadDeckTable();
        // $('#imagefile').val(''); // blank the input
    });

    // action when the close modal button is clicked
    $("#closemodal").click(function(){
        // if($('#newcard'.find('did'))) {
            $('#did').remove();

            // and reload cards
        // }
    });

    // every time a row is select get deck name & did
    $("#deckstable").on("click",".table-row", function() {
        if($('#deckstable').find('tr').hasClass('active')) {
            // get deck name
            d_name = $(".active > .d_name").text();
            console.log(d_name);
            // get deck id
            selectedDeckId = getDid(d_name);
        }     
    });

    // every time a row is select get card question & cid
    $("#cardstable").on("click",".table-row", function() {
        if($('#deckstable').find('tr').hasClass('active')) {
            // get question
            c_question = $(".active > .c_question").text();
            // get cid
            selectedCardId =  getCid(selectedDeckId, c_question);
        }
    });

    // when addnewcard is clicked append the current did
    $("#addnewcard").click(function(){
        // append did (inside ajax, since ajax doesnt return value fast and outside code is executed before did has a defined value)
        $('#newcard').append('<input id="did" type="hidden" name="did" value="'+selectedDeckId+'"/>');
        // increment deck
        incrementDeck(selectedDeckId);
        // value of selectedDeckId will be undefined as ajax request finish after this code below is executed.
        // console.log(selectedDeckId +" did");
    });


    function loadDeckTable() {
        var table = $('#deckstable')
	    table.find('tbody').html('')

        $.ajax({url: "/getdecks/decks",type: "GET",dataType: 'json', success: function(rows) {
            // console.log("My data" + JSON.stringify(req.body));
            console.log(rows.decks.rows);
            let result = rows.decks.rows;

            if (result.length > 0) {
	            // If returned json data is not empty
	            var i = 1;
	            // looping the returned data
	            Object.keys(result).map(k => {
                    console.log(result[k].d_name);
	                // creating new table row element
                    var tr = $('<tr class="table-row">')
                        // first column data
                    tr.append('<td class="py-1 px-2 text-center" scope="row">' + (i++) + '</td>')
                        // second column data
                    tr.append('<td class="py-1 px-2 text-center d_name">' + result[k].d_name + '</td>')
                        // third column data
                    tr.append('<td class="py-1 px-2 text-center">' + result[k].d_total_cards + '</td>')
                    // close div
                    tr.append('</tr>')
                    // Append table row item to table body
                    table.find('tbody').append(tr)
	            })
	        } else {
                console.log('deck json array empty');
	        }


            // $('#id1').html('<option value="">Select State</option>');
            // $.each(result.decks, function(key, value) {
            //     console.log("ddee");
            //     $("#deckstable").append('<s value="' + value.did + '">' + value.d_name + '</option>');
            // });
            // $('#id2').html('<option value="">Select State First</option>');


            // $('#deckstable').dataTable( {
            //     "aaData": rows,
            //     "columns": [
            //         { "rows": "id" },
            //         { "rows": "d_name" },
            //         { "rows": "d_total_cards" }
            //     ]
            // })

            // console.log(JSON.stringify(rows));
            //$("#textdemo").html(result);
        }});
    }

    function loadCardTable() {
        var table = $('#cardstable')
	    table.find('tbody').html('')

        $.ajax({url: `/getdeckcards/${d_name}`,type: "GET",dataType: 'json', success: function(rows) {
            let result = rows.cards.rows;
            console.log(result);
            if (result.length > 0) {
	            // If returned json data is not empty
	            var i = 1;
	            // looping the returned data
	            Object.keys(result).map(k => {
                    console.log(result[k].d_name);
	                // creating new table row element
                    var tr = $('<tr class="table-row">')
                        // first column data
                    tr.append('<td class="py-1 px-2 text-center" scope="row">' + (i++) + '</td>')
                        // second column data
                    tr.append('<td class="py-1 px-2 text-center">' + result[k].img_path + '</td>')
                        // third column data
                    tr.append('<td class="py-1 px-2 text-center c_question">' + result[k].question + '</td>')
                    // 4th
                    tr.append('<td class="py-1 px-2 text-center">' + result[k].answer + '</td>')
                        // close div
                        tr.append('</tr>')
                    // Append table row item to table body
                    table.find('tbody').append(tr)
	            })
	        } else {
                console.log('card json array empty');
	        }
        }});
    }


    function removeDeckRow() {
        $("#deck_rows").find(".active").remove();
        // $(`td:contains(${d_name})`).parent().find(active).remove();
    }

    function removeCardRow() {
        $("#card_rows").find(".active").remove();
    }

    // deferred code, has problems removing deleted row
    // function resetDeckTable(){
    //     $('#deck_rows').html("");
    //     // reload data
    //     console.log("resetting deck table");
    //     loadDeckTable();
    // }

    // function resetCardTable() {
    //     $('#card_rows').html("");
    //     // reload data
    //     loadCardTable();
    // }

    // REST API - QUERIES

    // how to return values from ajax function?
    // https://stackoverflow.com/questions/16805306/jquery-return-ajax-result-into-outside-variable
    
    // gets did
    function getDid(d_name) {
        var tmp = null;
        $.ajax({'async': false, url: `/getdeckid/${d_name}`,type: "GET",dataType: 'json', success: function(rows) {
            tmp = rows.decks.rows[0].did;
            console.log("current did = " + tmp);
        }});
        return tmp;
    };

    // gets cid
    // cons: cards with same question on same deck, will return multiple records (should return only one)
    function getCid(did, question) {
        var tmp = null;
        $.ajax({'async': false, url: `/getcardid/${did}/${question}`,type: "GET",dataType: 'json', success: function(rows) {
            console.log(rows);
            tmp = rows.cards.rows[0].cid;
            console.log("current cid = " + tmp);
        }});
        return tmp;
    };

    // increment deck
    function incrementDeck(did){
        $.ajax({url: `/incrementdeck/${did}`,type: "GET", success: function(rows) {}});
    };

    // deletes deck
    function deleteDeck(did) {
        // due to foreign-key first we empty the deck then the deck can be removed
        $.ajax({url: `/deletecards/${did}`,type: "GET", success: function(rows) {}});
        $.ajax({url: `/deletedeck/${did}`,type: "GET", success: function(rows) {
            // after ajax is complete
        }});
    };
    
    // deletes card
    function deleteCard(did, cid) {
        $.ajax({url: `/deletecard/${cid}`,type: "GET", success: function(rows) {}});
        $.ajax({url: `/decrementdeck/${did}`,type: "GET", success: function(rows) {
            // after ajax is complete
        }});
    };

</script>

<!-- <script>
    $(document).ready(function() {
    function getCountryList(p1, p2) {
        var country_id = this.value;
        $("#country-dropdown").html('');
        $.ajax({
            url: "http://localhost:3000/countries-list",
            type: "GET",
            dataType: 'json',
            success: function(result) {
                $('#country-dropdown').html('<option value="">Select Country</option>');
                $.each(result.countries, function(key, value) {
                    $("#country-dropdown").append('<option value="' + value.id + '">' + value.name + '</option>');
                });
                $('#city-dropdown').html('<option value="">Select Country First</option>');
            }
        });
    }
    $('#country-dropdown').on('change', function() {
        var country_id = this.value;
        $("#state-dropdown").html('');
        $.ajax({
            url: "http://localhost:3000/get-states-by-country",
            type: "POST",
            data: {
                name: 'country',
                country_id: country_id,
            },
            dataType: 'json',
            success: function(result) {
                $('#state-dropdown').html('<option value="">Select State</option>');
                $.each(result.states, function(key, value) {
                    $("#state-dropdown").append('<option value="' + value.id + '">' + value.name + '</option>');
                });
                $('#city-dropdown').html('<option value="">Select State First</option>');
            }
        });
    });
    getCountryList();
});
</script> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>